.banner {
  padding: var(--space-100) var(--space-150);
  font-size: var(--fs-sm);
  font-weight: 600;
  text-align: center;
}

.bannerStaging {
  background-color: rgb(254 243 199 / 90%);
  color: #92400e;
}

.bannerDev {
  background-color: rgb(191 219 254 / 90%);
  color: #1e3a8a;
}
