.header {
  background-color: var(--color-primary);
  color: var(--color-text-on-primary);
  padding: var(--space-150);
}

.inner {
  max-width: 960px;
  margin: 0 auto;
}

.title {
  font-size: var(--fs-xl);
  font-weight: 700;
}
